        <form action="/result" method="post">
            <label for="checktext">Type the text you want to check:</label>
            <input type="text" name="phrase" id="checktext">
            <button type="submit" class="button1">Check</button>
        </form>
        <footer>Yi Jing | 10419223</footer>